[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "bin/dotbot"]
	path = bin/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
